
.container_12 {
	background: #FFF;
}

body {
	background: url("../img/bg.png")
}

/*articlename*/
#h1 {
	font: 24px bold;
	font-family: 'Bubbler One', sans-serif;
    }

/*articleheading*/
#h3 {
	display: inline;
}

/*img1*/
#owlimg img
 {	width: 100%;
	height: 100%;
}

/*side*/
#side {
	background: #399;
}

/*main*/
#main {
	background: #FF9;
}

