
.container_12 {
	background: #FFF;
}

body {
	background: url("../img/foggy_birds.png")
}

/*articlename*/
#h1 {
	font: 24px bold;
	font-family: 'Bubbler One', sans-serif;
	text-align: center;
    }

/*articleheading*/
#h3 {
	text-align: justify;
	font-family: 'Baumans', cursive;
	display: inline;
}

/*img1*/
#owlimg img
 {	width: 100%;
	height: 100%;
}

/*side*/
#side {
	background: #399;
}

/*main*/
#main {
	background: #FF9;
}

#anatomy {
	text-align: justify;
	font-family: 'Baumans', cursive;
}

#behavior {
	text-align: justify;
	font-family: 'Baumans', cursive;
}

#jumps {
	text-align: justify;
	font-family: 'Baumans', cursive;
}

