.container_12 {
	background: orange;
}

/*logo*/
#logo {
	background: #0F9;
}



/*heading*/
#headind {
	background: #C0F;
}

/*img1*/
#owlimg img
 {	width: 90%;
	height: 90%;
}

/*side*/
#side {
	background: #399;
}

/*main*/
#main {
	background: #FF9;
}

/* Main Navigation */
li {
  background: orange;
  display: inline;
  list-style: none;
  margin: 20px 10px;
  padding: 20px 10px;
}

a {
  color: red;
  font: 24px sans-serif bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;  
}

li:hover {
  background: blue;
  color: #fff; 
} 